:root{
--bg:#0f172a;
--card:#1e293b;
--accent:#38bdf8;
--text:#e2e8f0;
--hover:#6366f1;
}

body{
margin:0;
font-family:"Jersey 25",sans-serif;
background:var(--bg);
color:var(--text);
}

.navbar{
position:fixed;
top:10px;
left:50%;
transform:translateX(-50%);
display:flex;
align-items:center;
justify-content:space-between;
gap:10px;
background:var(--card);
padding:10px 15px;
border-radius:15px;
z-index:1000;
}

.logo img{
width:50px;
height:50px;
border-radius:50%;
}

.menu{
display:flex;
gap:10px;
list-style:none;
margin:0;
padding:0;
}

.menu img{
width:50px;
height:50px;
border-radius:50%;
object-fit:cover;
cursor:pointer;
}

.hero{
text-align:center;
padding:100px 20px 40px;
}

.grid{
display:flex;
flex-direction:column;
gap:80px;
max-width:900px;
margin:auto;
padding:20px;
}

.card{
scroll-margin-top: 200px;
display:flex;
gap:20px;
align-items:center;
background:var(--card);
padding:20px;
border-radius:20px;
opacity:0;
transform:translateY(40px);
transition:.6s;
}

.card.show{
opacity:1;
transform:translateY(0);
}

.card img{
width:150px;
height:150px;
border-radius:15px;
}

.footer {
    height: fit-content;
    margin-top: 60px;
    padding: 30px 20px;
    text-align: center;

    background: var(--card);
    color: var(--text);

    border-top: 1px solid rgba(255,255,255,0.1);
}

#git{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: block;
    justify-self: center;
}

#link{
    color: var(--text);
    text-decoration: none;
}

@media (max-width:600px){
.navbar{
width:90%;
overflow-x:auto;
justify-content:flex-start;
}
.menu img{
width:45px;
height:45px;
flex-shrink:0;
}
.card{
flex-direction:column;
text-align:center;
}
}

@media (min-width:601px) and (max-width:1024px){
.menu img{
width:55px;
height:55px;
}
}
