
:root{
--bg:#0f172a;
--card:#1e293b;
--accent:#38bdf8;
--text:#e2e8f0;
--hover:#6366f1;
}

html{
    
    scroll-padding-top: 200px;
}

body{
margin:0;
  font-family: "Jersey 25", sans-serif;
  font-weight: 400;
  font-style: normal;

background:var(--bg);
color:var(--text);

}

.navbar{
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    max-width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--card);
    padding: 10px 15px;
    border-radius: 15px;
    z-index: 1000;
}

.navbar img{
    margin: 0;
}

.logo{
    position: absolute;
    left: 20px;
}

.logo img{
    width: 80px;
    height: 80px;
    display: block;
    border-radius: 100%;
}

.menu{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.menu li{
    display: flex;
    align-items: center;
}

.menu a{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu img{
    flex-direction: column;
    width: 80px;
    height: 80px;
    display: block;
    border-radius: 100%;
}

.imga{
    padding: 0;
    align-items: center;
    width: 150px;
    height: 215px;
    size: 500px;
    border-radius: 5%;
    
}

.hero{
text-align:center;
padding:60px 20px;
}

.grid{
display:flex;
flex-direction:column;
gap:130px;
max-width:900px;
margin:auto;
padding:20px;
}

.card{
display:flex;
gap:20px;
align-items:center;
background:var(--card);
padding:20px;
border-radius:20px;
opacity:0;
transform:translateY(40px);
transition:all .6s ease;
}

.card.show{
opacity:1;
transform:translateY(0);
}

.card img{
width:160px;
height:160px;
object-fit:cover;
border-radius:15px;
}

.card h2{
color:var(--accent);
margin:0;
}

.card:hover{
    box-shadow:0 10px 30px rgba(0,0,0,.4);
    border:1px solid var(--hover);
}

.footer {
    height: fit-content;
    margin-top: 60px;
    padding: 30px 20px;
    text-align: center;

    background: var(--card);
    color: var(--text);

    border-top: 1px solid rgba(255,255,255,0.1);
}

#git{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: block;
    justify-self: center;
}

#link{
    color: var(--text);
    text-decoration: none;
}

h1{
    margin-top: 100px;
}


@media (max-width: 600px) {
    body {
    font-size: 14px;
    }
    .navbar{
        widht: 90%;
        justify-content: flex-start;
        overflow-x: auto;
        gap: 10px;
        padding: 8px 10px;
    }

    .navbar img{
        width: 45px;
        heigt: 45px;
        flex-shrink: 0;
    }
    
    .card {
    flex-direction: column;
    text-align: center;
    }

    .card img {
    width: 120px;
    height: 120px;
    }
}

/* 📲 TABLET */
@media (min-width: 601px) and (max-width: 1024px) {
    body {
    font-size: 16px;
    }
    
    .navbar{
        width: fit-content;
        gap: 12px;
        padding: 10px 15px;
    }

    .navbar img{
        width: 55px;
        heigt: 55px;
    }
    
    .card {
    flex-direction: row;
    }

    .card img {
    width: 140px;
    height: 140px;
    }
}

/* 💻 PC */
@media (min-width: 1025px) {
    body {
    font-size: 18px;
    }

    .navbar{
        width: fit-content;
        gap: 10px
    }
    
    .card {
    max-width: 900px;
    }
}



@media(max-width:700px){
.card{
flex-direction:column;
text-align:center;
}
}
